<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/profilestyle.css">
</head>
<body>
  <div class="main">
    <div class="logout">
      <a href="/logout">Logout</a>
    </div>
    <h3><span>Hello,</span><%= post.user.name%>👋</h3>
    <h5>you can edit your post.</h5>
    <form action="/editpost/<%=post._id%>" method="post">
      <textarea style="min-height: 10rem;" name="postcontent" %> class="posttext"><%= post.content%></textarea></BR>
      <input type="submit" value="Update post" class="button" style="background: #f5d60d;color: black;" >
    </form>
    
  </div>  
</body>
</html>