<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/indexstyle.css">
</head>
<body>
  <div class="main">
    <h1>Create User</h1>
    <form action="/create" method="post">
      <input type="text" placeholder="username" name="username" class="inputs">
      <input type="text" placeholder="name" name="name" class="inputs">
      <input type="text" placeholder="email" name="email"class="inputs">
      <input type="text" placeholder="password" name="password"class="inputs">
      <input type="number" placeholder="age" name="age"class="inputs">
      <input type="submit" value="Create" class="button">
      
    </form>
  </div>
  
</body>
</html>